{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ listing.title }}</h2>

    <div>
        Current price: {{ current_price }}
    </div>
    <div>
        Description: {{ listing.description }}
    </div>
    <div>
        Created by: {{ listing.creator }}
    </div>

    {% if user.is_authenticated %}
        <a href="{% url 'bid_page' listing.id %}"> Bid on this item </a>
    {% endif %}

    {% if in_watch_list %}
        <a href="{% url 'remove_whatchlist' listing.id %}"> Remove from whatchlist </a>
    {% else %}
        <a href="{% url 'add_whatchlist' listing.id %}"> Add to whatchlist </a>
    {% endif %}

{% endblock %}