{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ listing.title }}</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div>
        Current price: {{ current_price }}
    </div>
    <div>
        Description: {{ listing.description }}
    </div>
    <div>
        Created by: {{ listing.creator }}
    </div>

    {% if user.is_authenticated %}
        <h4>Comments:</h4>
        {% for comment in comments %}
            <div> BY {{ comment.user }}:</div>
            <div> {{comment.text }} </div>
        {% empty %}
            No comments
        {% endfor %}

        <div class="form-group">
            <form action="{% url 'new_comment' listing.id %}", method="POST">
                {% csrf_token%}
                {{ comment_form }}
                <input class="btn btn-primary" type="submit" value="Add comment">
            </form>

        <div>
            <a href="{% url 'bid_page' listing.id %}"> Bid on this item </a>
        </div>  
        {% if in_watch_list %}
            <div>
                <a href="{% url 'remove_whatchlist' listing.id %}"> Remove from whatchlist </a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'add_whatchlist' listing.id %}"> Add to whatchlist </a>
            </div>
        {% endif %}

        {% if user == listing.creator and listing.is_active %}
            <div>
                <a href="{% url 'close_listing' listing.id %}"> Close listing </a>
            </div>
        {% endif %}
    {% endif %}

    

{% endblock %}